body  {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, gray, #363636 80%) no-repeat;
}
li {
    padding: 10px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: cursive;
}
header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}
#layout3-header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}
header span {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: yellow;
}
header +  nav {
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #59a0ff;
    height: 180px;
    width: 100%;
}
a:hover {
    color: green;
}

.layout-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: black;
    height: 60px;
    width: 100%;
}
.active-link {
    color: coral;
}
#layout-wrapper {
    height: 940px;
    width: 1200px;
    margin: 0 auto 0;
    background-color: #ffffff;
}


.section-1-squares {
    flex: 100%;
}
.section-1-squares div:first-child {
    border: 1px solid black;
    width: 181px;
    height: 304px;
    margin-top: 62px;
    margin-left: 23px;
}
.section-1-squares div:nth-child(2) {
    border: 1px solid black;
    position: absolute;
    left: 550px;
    top: 121px;
    width: 416px;
    height: 286px;
}
.section-1-squares div:nth-child(3) {
    border: 1px solid black;
    position: relative;
    left: 263px;
    top: 45px;
    width: 181px;
    height: 304px;
}
#main-1 {
    display: flex;
    height: 830px;

}
#main-1 nav {
    list-style: none;
    margin: 0;
    border-left: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#aside-1 {
    width: 179px;
}

.section-2-squares {
    width: 840px;
    text-align: right;
}
#layout-2-nav {
    display: flex;
    justify-content: center;
    align-self: center;
}
#main-2 {
    display: flex;
    height: 650px;
    width: 996px;
}
#aside-2 {
    width: 163px;
    height: 650px;
    display: inline-block;
    border-right: 1px solid black;
}
#squares-container-1 {
    display: flex;
    justify-content: space-around;
    margin-right: 84px;
    margin-left: 465px;
    margin-top: 70px;
}
#squares-container-1 div {
    background-color: red;
    width: 122px;
    height: 88px;
}
#squares-container-2 {
    margin-left: 55px;
    margin-right: 84px;
    margin-top: 74px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
#squares-container-2 div:first-child {
    width: 265px;
    height: 107px;
    background-color: black;
}
#squares-container-2 div + div{
    width: 411px;
    height: 293px;
    background-color: yellow;
}

.layout-3-nav {
   height: 25%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.layout-3-nav div:first-child {
    float: left;
}
.square-firstName {
    text-align: center;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    height: 35% ;
    width: 30%;
    font-size: 5rem;
}
.square-lastName {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    height: 45%;
    width: 30%;
}
#layout-3-html {
    height: 100%;
    width: 100%;
}

#layout-3-wrapper {
    height: 93%;
    width: 80%;
    margin: 0 auto 0;
    background-color: #ffffff;
}
#main-3 {
    height: 60%;
    display: flex;
    overflow: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
#layout-3-footer {
    position: fixed;
    background-color: black;
    height: 7%;
    width: 100%;
}
#nav-list-3 ul {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}
#turnDark {
    padding: 25px;
    background-color: #363636;
    color: white;
    border: none;
    border-radius: 6px;
}
#turnWhite {
    padding: 25px;
    background-color: white;
    color: #363636;
    border: none;
    border-radius: 6px;
}
@media only screen and (max-width: 700px) {
    #burger {
        display: inline-block;
        width: 100%;
        height: 125px;
    }
    #burger p {
        width: 75px;
        height: 75px;
        float: right;
        margin-right: 15px;
        background-image: url("../images/burger.png");
        background-repeat: round;
        border-radius: 50%;
    }
    #nav-list-3 {
        display: none;
    }
    .layout-3-nav div:first-child {
        display: none;
    }
}





